@{
    var hour = "";
}

@for (var i = 0; i < 24; i++)
{
    hour = i < 10 ? "0" + i.ToString() : i.ToString();
    var className = "";
    var data = "";
    Int32.TryParse(ViewData["prevMovieEndHour"].ToString(), out int prevMovieEndHour);
    Int32.TryParse(ViewData["prevMovieEndMinute"].ToString(), out int prevMovieEndMinute);

    if (prevMovieEndHour > 0 && prevMovieEndMinute > 0)
    {
        if (i < prevMovieEndHour)
        {
            className = " disabled";
        }
        else if (i == prevMovieEndHour)
        {
            data = " data-start-minute=" + (prevMovieEndMinute + 5);
        }
    }
    <div class="schedule-table-hour@{@className}" data-hour="@i.ToString()"@data>
        <div class="schedule-table-hour-title">
            @(hour):00
        </div>
    </div>
}