@model CinemaTickets.Models.CinemaPlaceGroup

@{
    ViewBag.Title = "Створення групи місць";
}

<h2>Створення групи місць</h2>


@Html.Partial("Form")

<div>
    @Html.RouteLink("До списку", new { controller = "Cinemas", action = "PlaceGroups", id = ViewBag.CinemaId })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
