@model CinemaTickets.Models.CinemaPlaceGroup

@{
    ViewBag.Title = "Редагування групи місць";
}

<h2>Редагування групи місць</h2>


@Html.Partial("Form")

<div>
    @Html.RouteLink("До списку", new { controller = "Cinemas", action = "PlaceGroups", id = Model.CinemaID })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
