<div class="footer">
    <div class="footer-content">
        <div class="footer-left"></div>
        <div class="footer-section">
            <ul class="footer-menu">
                <li>
                    <a href="" class="footer-menu-item">
                        Головна
                    </a>
                </li>
                <li>
                    <a href="" class="footer-menu-item">
                        Про нас
                    </a>
                </li>
                <li>
                    <a href="" class="footer-menu-item">
                        Контакти
                    </a>
                </li>
                <li>
                    <a href="" class="footer-menu-item">
                        Як оплатити?
                    </a>
                </li>
            </ul>
            <div class="logo-small"></div>
            <div class="footer-copyrights">
                &copy; Сервіс онлайн купівлі квитків у кінотеатри України
            </div>
            <div class="footer-triangle-violet"></div>
        </div>
        <div class="footer-right"></div>
    </div>
</div>