<div class="header">
    <div class="header-content">
        <div class="header-section header-logo">
            <div class="logo"></div>
        </div>
        <div class="header-section header-right">
            <ul class="header-menu">
                <li>
                    <a href="" class="header-menu-item">
                        Головна
                    </a>
                </li>
                <li>
                    <a href="" class="header-menu-item">
                        Про нас
                    </a>
                </li>
                <li>
                    <a href="" class="header-menu-item">
                        Контакти
                    </a>
                </li>
                <li>
                    <a href="" class="header-menu-item">
                        Як оплатити?
                    </a>
                </li>
            </ul>
            <div class="choose-city">
                Чернівці
                <!--<span class="glyphicon glyphicon-chevron-down"></span>-->
            </div>
            <div class="header-search">
                <div class="input">
                    <span class="glyphicon glyphicon-facetime-video"></span>
                    <input type="text" placeholder="Пошук по фільму" />
                </div>
                <div class="action-button">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </div>
            </div>
        </div>
    </div>
</div>