<div class="header">
    <div class="header-content">
        <div class="header-section header-logo col-sm-3 col-xs-3">
            <div class="logo"></div>
        </div>
        <div class="header-section header-right col-sm-9 col-xs-9">
            <ul class="header-menu">
                <li>
                    <a href="" class="header-menu-item">
                        Головна
                    </a>
                </li>
                <li>
                    <a href="" class="header-menu-item">
                        Про нас
                    </a>
                </li>
                <li>
                    <a href="" class="header-menu-item">
                        Контакти
                    </a>
                </li>
                <li>
                    <a href="" class="header-menu-item">
                        Як оплатити?
                    </a>
                </li>
            </ul>
            <!--<div class="choose-city">
                Чернівці
                <span class="glyphicon glyphicon-chevron-down"></span>
            </div>-->
            <div class="header-search col-sm-9 col-xs-9">
                <div class="input col-sm-9 col-xs-9">
                    <span class="glyphicon glyphicon-facetime-video"></span>
                    <input type="text" placeholder="Пошук по фільму" />
                </div>
                <div class="action-button">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </div>
                <div class="action-button-mobile col-sm-3 col-xs-3">
                    <span class="glyphicon glyphicon-search"></span>
                </div>
            </div>
            <div class="header-menu-mobile col-sm-3 col-xs-3">
                <span class="glyphicon glyphicon-menu-hamburger"></span>
            </div>
        </div>
    </div>
</div>