<div class="popup">
    <div class="popup-content">
        @Html.Raw(ViewData["html"])
    </div>
    <div class="popup-actions">
        <button class="btn btn-default popup-close">
            Закрити
        </button>
    </div>
</div>
