@model CinemaTickets.Models.Genre

@{
    ViewBag.Title = "Редагування жанру";
}

<h2>Редагування жанру</h2>

@Html.Partial("Form")

<div>
    @Html.ActionLink("До списку", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
