@model IEnumerable<CinemaTickets.Models.Genre>

@{
    ViewBag.Title = "Жанри";
}

<h2>Жанри</h2>

<p>
    @Html.ActionLink("Створити", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Назва
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Редагувати", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Вилучити", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
