.order-items {
    margin: 5px 0;
}

.order-item {
    margin-top: 10px;
}

.order-item-row {
    margin-top: 5px;
}

.order-item-info {
    display: inline-block;
    width: 150px;
    border-right: 1px dotted #808080;
    padding: 5px;
}

.order-item-info:first-child {
    border-left: 1px dotted #808080;
}

.order-item-row:last-child .order-item-info {
    border-bottom: 1px dotted #808080;
}