.order-items {
    margin: 5px 0;
}

.order-item {
    margin-top: 10px;
}

.order-item-row {
    margin-top: 5px;
}

.order-item-info {
    display: inline-block;
    width: 150px;
    border-right: 1px dotted #808080;
    padding: 5px;
}

.order-item-info:first-child {
    border-left: 1px dotted #808080;
}

.order-item-row:last-child .order-item-info {
    border-bottom: 1px dotted #808080;
}

.book-info, .book-places-info, .book-confirm {
    margin-top: 10px;
}

.book-info {
    padding: 10px;
}

.book-info-name {
    text-align: center;
    text-transform: uppercase;
}

.book-info-detail {
    text-align: center;
}

.cinema-hall-screen-left, .cinema-hall-screen-right, .cinema-hall-screen-center {
    float: left;
    height: 20px;
}

.cinema-hall-screen-left, .cinema-hall-screen-right {
    background-color: #c1c1c1;
    width: calc(50% - 50px);
}

.cinema-hall-screen-center {
    width: 100px;
    text-align: center;
}

.cinema-hall-screen {
    display: inline-block;
    width: 100%;
    margin-top: 10px;
    background-color: none;
}

.cinema-hall-cell {
    display: inline-block;
    width: 36px;
    height: 33px;
    background-image: url('img/place.png');
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.cinema-hall-cell:hover, .cinema-hall-cell.active {
    background-image: url('img/place-active.png');
}

.cinema-hall-cell.booked {
    background-image: url('img/place-booked.png');
}

.cinema-hall-rows, .cinema-hall-places {
    display: inline-block;
    vertical-align: top;
    margin-top: 20px;
}

.cinema-hall-row-title {
    margin-top: 10px;
    height: 33px;
    line-height: 33px;
}

.cinema-hall-row {
    height: 33px;
    margin-top: 10px;
}

.cinema-hall {
    text-align: center;
}

.legend {
    text-align: center;
    margin-top: 20px;
}

.legend > div {
    display: inline-block;
    line-height: 33px;
    vertical-align: top;
}

.legend .free, .legend .active, .legend .booked {
    display: inline-block;
    width: 36px;
    height: 33px;
    background-position: center center;
    background-repeat: no-repeat;
}

.legend .free {
    background-image: url('img/place.png');
}

.legend .active {
    background-image: url('img/place-active.png');
}

.legend .booked {
    background-image: url('img/place-booked.png');
}

.book-confirm-image, .book-confirm-info {
    display: inline-block;
}

.book-confirm-info {
    vertical-align: top;
    width: calc(100% - 205px);
}

.book-confirm-info .glyphicon {
    font-size: 24px;
}

.book-confirm-movie-name {
    padding: 10px 5px;
    font-weight: bold;
    font-size: 24px;
}

.book-confirm-input {
    height: 40px;
    line-height: 40px;
    margin-top: 5px;
}

.book-confirm-input .glyphicon, .book-confirm-input input {
    float: left;
}

.book-confirm-input .glyphicon {
    width: 40px;
    font-size: 24px;
    line-height: 40px;
    text-align: center;
}

.book-confirm-input input {
    border: none;
    width: calc(100% - 40px);
    max-width: none;
    height: 100%;
    vertical-align: top;
}

.book-confirm-input.error {
    border: 1px solid red;
}

.book-confirm-image {
    width: 200px;
    height: 300px;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

.book-confirm-total {
    margin-top: 10px;
}

.liqpay-pay {
    margin-top: 10px;
}

.book-confirm-movie-type {
    float: right;
}

.book-confirm-cinema-info {
    display: inline-block;
}

.book-confirm-cinema-address {
    display: block;
}

.book-confirm-cinema, .book-confirm-date, .book-confirm-places-info {
    border-bottom: 2px solid #cccccc;
}

.book-confirm-date-clock {
    width: 29px;
    height: 29px;
    display: inline-block;
    background-image: url('img/clock-2.png');
}

.book-confirm-date-info {
    display: inline-block;
}

.book-confirm-places-tickets {
    width: 29px;
    height: 27px;
    display: inline-block;
    display: inline-block;
    background-image: url('img/tickets.png');
}

.book-confirm-places {
    display: inline-block;
}

.book-confirm-mobile {
    display: none;
}

@media (max-width: 720px) {
    .cinema-hall-cell {
        width: 20px;
        height: 19px;
        background-size: contain;
    }

    .cinema-hall-row {
        height: 19px;
    }

    .cinema-hall-row-title {
        height: 19px;
        line-height: 19px;
    }
}

@media (max-width: 480px) {
    .cinema-hall-cell {
        float: left;
        width: 16px;
        height: 16px;
        margin-left: 2px;
        background-size: contain;
    }

    .cinema-hall-row {
        height: 16px;
    }

    .cinema-hall-row-title {
        height: 16px;
        line-height: 16px;
    }

    .book-confirm {
        display: none;
    }

    .book-confirm-mobile {
        display: block;
    }

    .book-confirm-image {
        width: 100px;
        height: 150px;
    }

    .book-confirm-info {
        width: calc(100% - 105px);
    }

    .book-confirm-cinema .glyphicon {
        display: none;
    }

    .book-confirm-date-clock {
        display: none;
    }

    .book-confirm-cinema, .book-confirm-date {
        border-bottom: 1px solid #cccccc;
    }

    .book-confirm-places-info {
        border: none;
    }

    .liqpay-pay {
        margin: auto;
    }
}