.order-items {
    margin: 5px 0;
}

.order-item {
    margin-top: 10px;
}

.order-item-row {
    margin-top: 5px;
}

.order-item-info {
    display: inline-block;
    width: 150px;
    border-right: 1px dotted #808080;
    padding: 5px;
}

.order-item-info:first-child {
    border-left: 1px dotted #808080;
}

.order-item-row:last-child .order-item-info {
    border-bottom: 1px dotted #808080;
}

.book-info, .book-places-info, .book-confirm {
    margin-top: 10px;
}

.book-info {
    padding: 10px;
}

.cinema-hall-screen-left, .cinema-hall-screen-right, .cinema-hall-screen-center {
    float: left;
    height: 20px;
}

.cinema-hall-screen-left, .cinema-hall-screen-right {
    background-color: #c1c1c1;
    width: calc(50% - 50px);
}

.cinema-hall-screen-center {
    width: 100px;
    text-align: center;
}

.cinema-hall-screen {
    margin-top: 10px;
    background-color: none;
}

.cinema-hall-cell {
    display: inline-block;
    width: 36px;
    height: 33px;
    background-image: url('img/place.png');
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.cinema-hall-cell:hover, .cinema-hall-cell.active {
    background-image: url('img/place-active.png');
}

.cinema-hall-cell.booked {
    background-image: url('img/place-booked.png');
}

.cinema-hall-rows, .cinema-hall-places {
    display: inline-block;
    vertical-align: top;
    margin-top: 20px;
}

.cinema-hall-row-title {
    margin-top: 10px;
    height: 33px;
    line-height: 33px;
}

.cinema-hall-row {
    height: 33px;
    margin-top: 10px;
}

.cinema-hall {
    text-align: center;
}

.legend {
    text-align: center;
    margin-top: 20px;
}

.legend > div {
    display: inline-block;
    line-height: 33px;
    vertical-align: top;
}

.legend .free, .legend .active, .legend .booked {
    display: inline-block;
    width: 36px;
    height: 33px;
    background-position: center center;
    background-repeat: no-repeat;
}

.legend .free {
    background-image: url('img/place.png');
}

.legend .active {
    background-image: url('img/place-active.png');
}

.legend .booked {
    background-image: url('img/place-booked.png');
}

.book-confirm-image, .book-confirm-info {
    display: inline-block;
}

.book-confirm-info {
    vertical-align: top;
    width: calc(100% - 205px);
}

.book-confirm-info .glyphicon {
    font-size: 24px;
}

.book-confirm-movie-name {
    padding: 10px 5px;
    font-weight: bold;
    font-size: 24px;
}

.book-confirm-input {
    height: 40px;
    line-height: 40px;
    margin-top: 5px;
}

.book-confirm-input .glyphicon, .book-confirm-input input {
    float: left;
}

.book-confirm-input .glyphicon {
    width: 40px;
    font-size: 24px;
    line-height: 40px;
    text-align: center;
}

.book-confirm-input input {
    border: none;
    width: calc(100% - 40px);
    max-width: none;
    height: 100%;
    vertical-align: top;
}

.book-confirm-input.error {
    border: 1px solid red;
}

.book-confirm-image {
    width: 200px;
    height: 300px;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

.book-confirm-total {
    margin-top: 10px;
}

.liqpay-pay {
    margin-top: 10px;
}