.calendar {
    margin-top: 10px;
    padding: 10px 70px;
    background-color: #ebebeb;
    position: relative;
}

.calendar-date {
    width: 155px;
    display: inline-block;
    background-color: #FFFFFF;
    cursor: pointer;
}

.calendar-date-weekday {
    border-bottom: 1px solid #ebebeb;
    text-align: center;
    color: #929292;
    height: 30px;
    padding: 5px;
    font-size: 11px;
}

.calendar-date.active .calendar-date-weekday {
    color: #FFFFFF;
    background-color: #720f95;
    border-bottom: none;
}

.calendar-date-day {
    height: 100px;
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    padding: 15px;
    color: #929292;
}


.calendar-date.active .calendar-date-day {
    background-color: #ffc72f;
    color: #720f95;
}

.calendar-date-number {
    transform: scaleY(1.8);
    margin-top: 10px;
}

.calendar-slider-prev, .calendar-slider-next {
    position: absolute;
    top: 10px;
    z-index: 2;
    background-color: #FFFFFF;
    width: 50px;
    height: 130px;
}

.calendar-slider-prev {
    left: 15px;
}

.calendar-slider-next {
    right: 15px;
}

.calendar-slider-prev .glyphicon, .calendar-slider-next .glyphicon {
    color: #929292;
    font-size: 20px;
    cursor: pointer;
    top: 55px;
    right: -34px;
    background-color: #ebebeb;
    border-radius: 50px;
    padding: 5px;
}

.calendar-slider-prev .glyphicon {
    left: -15px;
}

@media (max-width: 480px) {
    .calendar-date-day {
        height: 80px;
        padding: 10px;
    }

    .calendar-slider-prev, .calendar-slider-next {
        height: 110px;
    }

    .calendar-slider-prev .glyphicon, .calendar-slider-next .glyphicon {
        top: 45px;
    }

    .calendar-date-weekday {
        font-size: 13px;
    }

    .calendar-date-day {
        font-size: 20px;
    }

    .calendar-date-number {
        margin-top: 5px;
    }
}