.how-to {
    background-image: url('img/how-to.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 186px;
    margin-top: 10px;
}

.movies {
    margin-top: 10px;
}

.movie {
    padding-top: 10px;
    width: 200px;
    height: 340px;
    display: block;
    background-color: #ffc72f;
    position: relative;
    margin: auto;
}

.movie-tickets, .movie-trailer {
    width: 100%;
    position: absolute;
    bottom: 20px;
}

.movie-tickets-icon, .movie-tickets-label, .movie-tickets-button {
    display: inline-block;
}

.movie-trailer-label, .movie-trailer-button {
    display: inline-block;
}

.movie-tickets-label, .movie-trailer-label {
    color: #720f95;
    font-size: 18px;
    font-weight: bold;
    line-height: 40px;
    margin-left: 5px;
}

.movie-trailer-label {
    background-color: #720f95;
    color: #ffc72f;
    width: calc(100% - 55px);
    padding-left: 10px;
}

.movie-tickets-button, .movie-trailer-button {
    background-color: #720f95;
    width: 50px;
    height: 40px;
    float: right;
}

.movie-trailer-button {
    background-color: #ffc72f;
    float: left;
}

.movie-tickets-button .glyphicon, .movie-trailer-button .glyphicon {
    color: #FFFFFF;
    top: calc(50% - 12px);
    left: calc(50% - 12px);
    font-size: 24px;
}

.movie-trailer-button .glyphicon {
    color: #720f95;
}

.movie-tickets-icon, .movie-trailer-icon {
    width: 25px;
    height: 20px;
    background-color: #720f95;
    margin-left: 10px;
    vertical-align: top;
    margin-top: 10px;
    border-radius: 3px;
}

.movie-tickets-icon .glyphicon, .movie-trailer-icon .glyphicon {
    top: 2px;
    left: 6px;
    color: #ffc72f;
}

.movie-name {
    color: #929292;
    position: absolute;
    bottom: 0;
    background-color: #FFFFFF;
    width: 100%;
    font-size: 16px;
}

.movie-image {
    width: 100%;
    height: calc(100% - 60px);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.movie-item {
    display: inline-block;
}

.movies-container, .coming-soon-movies-container {
    position: relative;
    margin-top: 10px;
}

.movies-slider-prev, .movies-slider-next {
    top: calc(50% - 17px);
    cursor: pointer;
    font-size: 30px;
    position: absolute;
}

.movies-slider-prev .glyphicon, .movies-slider-next .glyphicon {
    top: 7px;
}

.movies-slider-prev {
    left: -10px;
}

.movies-slider-next {
    right: -10px;
}

.movie-trailer-popup {
    position: fixed;
    box-shadow: 3px 2px 6px 3px rgba(0, 0, 0, 0.6);
    width: 600px;
    height: 400px;
    top: calc(50% - 200px);
    left: calc(50% - 300px);
    padding: 10px;
    background-color: #FFFFFF;
    z-index: 2;
}

.movie-trailer-popup .glyphicon {
    position: absolute;
    top: -10px;
    right: -10px;
    font-size: 24px;
}

.movie-trailer-popup iframe {
    width: 100%;
    height: 100%;
    border: none;
}

.coming-soon-title {
    font-size: 20px;
    margin-bottom: 10px;
}

.how-to-pay .img {
    width: 100%;
    display: inline-block;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    margin: auto;
}

.how-to-step1 {
    background-image: url('img/how-to-pay/home.png');
    height: 450px;
}

.how-to-step2 {
    background-image: url('img/how-to-pay/movie.png');
    height: 700px;
}

.how-to-step3 {
    background-image: url('img/how-to-pay/place.png');
    height: 500px;
}

.how-to-step4 {
    background-image: url('img/how-to-pay/choose-place.png');
    height: 500px;
}

.how-to-step5 {
    background-image: url('img/how-to-pay/confirm.png');
    height: 500px;
}

.how-to-step6 {
    background-image: url('img/how-to-pay/pay.png');
    height: 500px;
}

@media (max-width: 768px) {
    .how-to {
        background-image: url('img/how-to-tablet.png');
    }

    .how-to-step1 {
        background-image: url('img/how-to-pay/home-tablet.png');
    }

    .how-to-step3 {
        background-image: url('img/how-to-pay/place-tablet.png');
        height: 600px;
    }

    .how-to-step4 {
        background-image: url('img/how-to-pay/choose-place-tablet.png');
        height: 600px;
    }

    .how-to-step5 {
        background-image: url('img/how-to-pay/confirm-tablet.png');
    }
}

@media (max-width: 480px) {
    .how-to {
        background-image: url('img/how-to-mobile.png');
        background-size: contain;
        background-position: center center;
    }

    .movie-name {
        text-align: center;
    }

    .movies-slider-prev {
        left: 20px;
    }

    .movies-slider-next {
        right: 20px;
    }

    .how-to-step1 {
        background-image: url('img/how-to-pay/home-mobile.png');
    }

    .how-to-step2 {
        background-image: url('img/how-to-pay/movie-mobile.png');
        height: 450px;
    }

    .how-to-step3 {
        background-image: url('img/how-to-pay/place-mobile.png');
        height: 400px;
    }

    .how-to-step4 {
        background-image: url('img/how-to-pay/choose-place-mobile.png');
        height: 400px;
    }

    .how-to-step5 {
        background-image: url('img/how-to-pay/confirm-mobile.png');
    }
}

@media (max-width: 360px) {
    .how-to {
        background-size: 90%;
    }
}