.movie-detail, .movie-video {
    display: inline-block;
    height: 350px;
    vertical-align: top;
    margin-top: 10px;
}

.movie-detail {
    width: 200px;
}

.movie-video {
    width: calc(100% - 205px);
}

.movie-video embed {
    width: 100%;
    height: 100%;
}

.movie-detail-name {
    color: #720f95;
    text-transform: uppercase;
    text-align: center;
    background-color: #ffc72f;
    font-weight: bold;
    font-size: 16px;
    padding: 10px 0;
    border-top: 5px solid #720f95;
}

.movie-detail-image {
    background-size: contain;
    background-position: center center;
    height: 300px;
    background-repeat: no-repeat;
}

.time-table {
    margin-top: 20px;
}

.time-table-cinema {
    background-color: #ebebeb;
    padding: 10px;
}

.time-table-cinema-name {
    color: #929292;
    font-size: 16px;
    font-weight: bold;
}

.time-table-cinema-address {
    color: #b8b8b8;
}

.time-table-cinema-icon, .time-table-cinema-detail {
    display: inline-block;
}

.time-table-cinema-icon {
    vertical-align: top;
}

.time-table-cinema-icon .glyphicon {
    color: #c7c7c7;
    font-size: 24px;
    line-height: 40px;
}

.time-table-cinema-detail {
    margin-left: 25px;
}

.time-table-day {
    display: inline-block;
    width: 100px;
    text-align: center;
    height: 30px;
    line-height: 30px;
    vertical-align: top;
}

.time-table-day-name {
    color: #929292;
}

.time-table-day-time {
    background-color: #858585;
    color: #FFFFFF;
    height: 30px;
    line-height: 30px;
    margin-top: 10px;
    cursor: pointer;
    display: block;
    font-weight: bold;
}

.time-table-day-time:hover {
    background-color: #ffc72f;
    color: #720f95;
}

.time-table-movie-type {
    display: inline-block;
    background-color: #ebebeb;
    color: #929292;
    width: 50px;
    height: 300px;
    vertical-align: top;
    line-height: 300px;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}

.time-table-select {
    margin-top: 20px;
}

.choose-cinema {
    margin-top: 10px;
    text-align: right;
}

.choose-cinema-arrow, .choose-cinema-clock, .choose-cinema-text {
    display: inline-block;
    vertical-align: top;
}

.choose-cinema-arrow {
    background-image: url('img/arrow.png');
    width: 77px;
    height: 31px;
}

.choose-cinema-clock {
    background-image: url('img/clock.png');
    width: 33px;
    height: 33px;
}

.choose-cinema-text {
    line-height: 33px;
}

.movie-video-mobile {
    display: none;
    width: 100%;
}

.movie-detail-info-label {
    font-weight: bold;
}

@media(max-width: 480px) {
    .movie-video {
        display: none;
    }

    .movie-video-mobile {
        display: block;
    }

    .movie-detail {
        width: 100%;
        height: auto;
    }

    .movie-detail-image, .movie-detail-name, .movie-detail-info {
        display: inline-block;
    }

    .movie-detail-image, .movie-detail-info {
        float: left;
    }

    .movie-detail-image {
        background-position: top center;
        margin-right: 5px;
        height: 150px;
    }

    .movie-detail-image {
        width: 100px;
    }

    .movie-detail-name, .movie-detail-info {
        width: calc(100% - 105px);
    }

    .movie-detail-name {
        vertical-align: top;
        border-top: none;
        border-bottom: 5px solid #720f95;
    }

    .movie-detail-info {
        margin-top: 10px;
    }

    .choose-cinema {
        display: none;
    }
}