html {
    height: 100%;
}

body {
    font-family: Geometria;
    display: table;
    width: 100%;
    height: 100%;
}

.ajax-loading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('img/loading.gif');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 25%;
    z-index: 2;
}

.movie-title {
    text-align: center;
    font-size: 16px;
}

.dates {
    margin: 10px 0;
}

.date {
    display: inline-block;
    margin-left: 10px;
    cursor: pointer;
}

.date.active {
    font-weight: bold;
}

.cities {
    display: none;
    position: absolute;
    background-color: #FFFFFF;
    width: 200px;
    padding: 5px;
    box-shadow: 0 2px 6px 3px rgba(0, 0, 0, 0.06);
}

.cities.active {
    display: block;
}

.choose-city {
    color: #FFFFFF;
    float: right;
    position: relative;
}

.choose-city-title {
    line-height: 40px;
}

.error {
    border: 1px solid red;
}

.header {
    width: 100%;
    height: 150px;
    background-color: #720f95;
    padding: 10px 0;
}

.header-content, .footer-content {
    max-width: 1280px;
    margin: auto;
}

.header-content {
    padding: 0;
}

.header-section {
    display: inline-block;
}

.header-logo {
    width: 295px;
    padding: 0;
}

.header-right {
    width: calc(100% - 300px);
    vertical-align: top;
}

.logo {
    width: 295px;
    height: 129px;
    background-image: url('img/logo.png');
    background-repeat: no-repeat;
    display: inline-block;
}

.header-menu, .choose-city {
    margin-top: 25px;
}

.header-menu, .footer-menu {
    display: inline-block;
    vertical-align: top;
    list-style-type: disc;
}

.header-menu {
    font-size: 18px;
}

.footer-menu {
    width: 100%;
    text-align: center;
    margin-left: 30px;
    margin-top: 10px;
}

.header-menu li, .footer-menu li {
    color: #FFFFFF;
    margin-left: 25px;
    float: left;
}

.header-menu li:first-child, .footer-menu li:first-child {
    list-style-type: none;
}

.header-menu-item, .footer-menu-item {
    text-transform: uppercase;
    color: #FFFFFF;
}

.header-menu-item:hover, .footer-menu-item:hover {
    color: #ffc82f;
}

.footer-menu-item {
    color: #ad87c0;
}

.choose-city {
    text-transform: uppercase;
    color: #ffc82f;
    font-size: 12px;
}

.header-search {
    /*display: inline-block;*/
    margin-top: 25px;
}

.input input {
    border: none;
}

.input input:focus, .input select:focus {
    outline: none;
}

.input select {
    width: 100%;
    height: 100%;
    border: 1px solid #720f95;
}

.input select option {
    zoom: 1.3;
    border: none;
}

.header-search .input {
    /*width: calc(100% - 30px);*/
}

.input {
    height: 30px;
}

.header-search .input, .search {
    float: left;
    background-color: #FFFFFF;
    position: relative;
    vertical-align: top;
}

.header-search .input input {
    padding-left: 25px;
    width: 100%;
    height: 100%;
    max-width: none;
}

.header-search .input .glyphicon {
    position: absolute;
    font-size: 16px;
    color: #b2b2b2;
    line-height: 30px;
    left: 5px;
}

.action-button {
    display: inline-block;
    width: 30px;
    height: 30px;
    padding: 5px;
    background-color: #ffc72f;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
}

.search .glyphicon {
    font-size: 18px;
    color: #FFFFFF;
    cursor: pointer;
}

.footer {
    display: table-row;
    margin-top: 50px;
    width: 100%;
    height: 150px;
    background-color: #ffc72f;
    color: #FFFFFF;
    vertical-align: bottom;
}

.footer-content {
    position: relative;
}

.footer-section {
    width: 500px;
    height: 150px;
    margin: auto;
    background-color: #720f95;
    position: relative;
}

.footer-left {
    background-image: url('img/footer-left.png');
    width: 298px;
    height: 183px;
    position: absolute;
    left: -220px;
    bottom: 0;
    z-index: 2;
}

.footer-right {
    background-image: url('img/footer-right.png');
    width: 286px;
    height: 163px;
    position: absolute;
    right: -247px;
    bottom: 0;
}

.logo-small {
    background-image: url('img/logo-small.png');
    width: 184px;
    height: 79px;
    margin-left: 70px;
}

.footer-copyrights {
    text-align: center;
    font-size: 12px;
    color: #ad87c0;
}

.footer-triangle-violet {
    float: left;
    border-left: 100px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 75px solid #720f95;
    transform: rotate(-56deg);
    position: absolute;
    right: -87px;
    top: 4px;
}

.filter {
    margin-top: 10px;
    text-align: center;
}

.filter .select {
    width: 100%;
    max-width: 250px;
    display: inline-block;
}

.select {
    width:100%;
    max-width: 200px;
    position: relative;
    text-align: left;
}

.select-title {
    width: calc(100% - 30px);
    float: left;
    border: 1px solid #ebebeb;
    height: 30px;
    padding: 5px;
}

.select-options {
    width: 100%;
    border: 1px solid #ebebeb;
    padding: 5px;
    position: absolute;
    z-index: 3;
    background-color: #FFFFFF;
}

.select-option {
    cursor: pointer;
    padding: 5px;
}

.grey {
    color: #929292;
}

.light-grey {
    color: #adadad;
}

.light-grey-2 {
    color: #b5b5b5;
}

.bg-grey {
    background-color: #ebebeb;
}

.bg-dark-grey {
    background-color: #c1c1c1;
}

.violet {
    color: #720f95;
}

.bg-violet {
    background-color: #720f95;
}

.bold {
    font-weight: bold;
}

.bg-orange {
    background-color: #ffc72f;
}

.orange {
    color: #ffc72f;
}

.button {
    width: 150px;
    text-align: center;
    height: 30px;
    line-height: 30px;
    cursor: pointer;
}

.header-search .action-button-mobile {
    display: none;
    color: #FFFFFF;
    font-size: 24px;
    cursor: pointer;
    text-align: right;
}

.header-menu-mobile {
    display: none;
    font-size: 24px;
    color: #FFFFFF;
    cursor: pointer;
    text-align: right;
}

.mobile-menu {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #ffc72f;
    z-index: 2;
    top: 0;
}

.mobile-menu-header {
    background-color: #720f95;
    position: relative;
}

.mobile-menu-close {
    color: #FFFFFF;
    position: absolute;
    font-size: 28px;
    right: 10px;
    top: calc(50% - 14px);
    cursor: pointer;
}

.mobile-menu-items {
    padding: 20px;
}

.mobile-menu-item {
    text-align: center;
    border-bottom: 2px solid #720f95;
    padding: 10px 0;
}

.mobile-menu-item:last-child {
    border-bottom: none;
}

.mobile-menu-item a {
    color: #720f95;
    font-size: 24px;
}

.mobile-menu-opened .body-content, .mobile-menu-opened .footer {
    display: none;
}

.mobile-menu-footer-left {
    background-image: url(img/footer-left.png);
    width: 298px;
    height: 183px;
    margin: auto;
    position: absolute;
    bottom: 0;
    left: calc(50% - 150px);
    display: none;
}

.mobile-menu-footer-right {
    background-image: url(img/footer-right.png);
    width: 400px;
    height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 0;
    left: calc(50% - 200px);
}

.slider-prev, .slider-next {
    background-color: #f1f1f1;
    opacity: 0.7;
    width: 35px;
    height: 45px;
    z-index: 2;
}

.select-option:hover, .select-option.selected {
    color: #ffc72f;
}

.body-content {
    margin-top: 10px;
    margin-bottom: 50px;
}

.violet {
    color: #720f95;
}

.margin-top-10 {
    margin-top: 10px;
}

.left {
    float: left;
}

.pointer {
    cursor: pointer;
}

@media (max-width: 1280px) {
    .header-menu {
        font-size: 13px;
    }

    .header-menu li:first-child {
        margin-left: 0;
    }
}

@media (max-width: 768px) {
    .header {
        height: 100px;
    }

    .header-logo {
        padding: 0;
    }

    .header-logo.col-sm-3 {
        width: 25%;
    }

    .header-content {
        height: 80px;
    }

    .logo {
        width: 100%;
        height: 80px;
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
    }

    .header-menu {
        display: none;
    }

    .header-search .action-button {
        display: none;
    }

    .header-search .action-button-mobile {
        display: inline-block;
    }

    .header-menu-mobile {
        display: inline-block;
        margin-top: 25px;
    }

    .header-right.col-sm-9 {
        width: 75%;
    }

    .footer {
        height: 100px;
    }

    .footer-menu {
        display: none;
    }

    .footer-left {
        width: 200px;
        height: 120px;
        background-size: contain;
        background-repeat: no-repeat;
        left: -145px;
    }

    .footer-right {
        width: 190px;
        height: 108px;
        background-size: contain;
        background-repeat: no-repeat;
        right: -172px;
    }

    .logo-small {
        margin: auto;
        width: 120px;
        height: 53px;
        background-size: contain;
        background-repeat: no-repeat;
    }

    .footer-section {
        width: 300px;
        height: 100px;
    }

    .footer-triangle-violet {
        border-left: 66px solid transparent;
        border-right: 33px solid transparent;
        border-bottom: 50px solid #720f95;
        transform: rotate(-56deg);
        right: -56px;
        top: 3px;
    }

    .footer-copyrights {
        width: 75%;
        margin: auto;
    }
}

@media (max-width: 640px) {
    .footer-left, .footer-right, .footer-triangle-violet {
        display: none;
    }

    .footer {
        background-color: #720f95;
    }
}

@media (max-width: 480px) {
    .header {
        height: 75px;
    }

    .header-content {
        height: 55px;
    }

    .logo {
        height: 55px;
        background-image: url('img/logo-no-text.png');
    }

    .header-logo.col-xs-4 {
        width: 33%;
    }

    .header-right {
        padding-right: 0;
    }

    .header-right.col-xs-8 {
        width: 66%;
    }

    .header-menu-mobile {
        float: right;
    }

    .header-search {
        padding: 0;
    }

    .header-search, .header-menu-mobile {
        margin-top: 15px;
    }

    .header-search .input {
        padding: 0;
        width: calc(100% - 30px);
    }

    .header-search .action-button-mobile {
        width: 24px;
        float: right;
        padding: 0;
    }

    .body-content {
        padding: 10px;
    }

    .filter .select + .select {
        margin-top: 10px;
    }

    .mobile-menu-footer-left {
        display: block;
    }

    .mobile-menu-footer-right {
        display: none;
    }
}