@model CinemaTickets.Models.Cinema

@{
    ViewBag.Title = "Додати кінотеатр";
}

<h2>Додати кінотеатр</h2>


@Html.Partial("Form")

<div>
    @Html.ActionLink("До списку", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
