@model CinemaTickets.Models.Cinema

@{
    ViewBag.Title = "Редагувати кінотеатр";
}

<h2>Редагувати кінотеатр</h2>

@Html.Partial("Form")

<div>
    @Html.ActionLink("До списку", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
