@model OnlineCinema.Models.City

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Вилучити місто?</h3>
<div>
    <h4>Genre</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Вилучити" class="btn btn-default" /> |
            @Html.ActionLink("До списку", "Index")
        </div>
    }
</div>
