@model CinemaTickets.Models.Movie

@{
    ViewBag.Title = "Додати фільм";
}

<h2>Додати фільм</h2>

@Html.Partial("Form")

<div>
    @Html.ActionLink("До списку", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
