@model CinemaTickets.Models.Movie

@{
    ViewBag.Title = "Фільм";
}

<h2>Фільм</h2>

<div>
    <h4>Фільм</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Назва
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Редагувати", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("До списку", "Index")
</p>
