@model CinemaTickets.Models.Movie

@{
    ViewBag.Title = "Редагування фільму " + Model.Name;
}

<h2>Редагування фільму</h2>

@Html.Partial("Form")

<div>
    @Html.ActionLink("До списку", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
