.cinema-hall-cell {
    width: 50px;
    height: 50px;
    border: 1px solid #808080;
    display: inline-block;
    background-color: cornflowerblue;
    margin-left: 10px;
}

.cinema-hall-cell:hover, .cinema-hall-cell.active {
    background-color: #6467ed;
    cursor: pointer;
}

.cinema-hall-cell.removed {
    opacity: 0.5;
}

.cineme-hall {
    text-align: center;
}