@model IEnumerable<OnlineCinema.Models.CinemaPlaceGroup>

@{
    ViewBag.Title = "Групи місць";
}

<h2>Групи місць</h2>

<div>
    @Html.RouteLink("Створити", new { controller = "CinemaPlaceGroups", action = "Create", id = ViewBag.CinemaID })
</div>
<table class="table">
    <tr>
        <th>
            Назва
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.RouteLink("Редагувати", new { controller = "CinemaPlaceGroups", action = "Edit", id = item.ID }) |
            @Html.RouteLink("Вилучити", new { controller = "CinemaPlaceGroups", action = "Delete", id = item.ID })
        </td>
    </tr>
}

</table>
