@model CinemaTickets.Models.CinemaHall

@{
    ViewBag.Title = "Редагування залу";
}

<h2>Редагування залу</h2>


@Html.Partial("Form")

<div>
    @Html.RouteLink("До списку", new { controller = "Cinemas", action = "Halls", id = ViewBag.CinemaId })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
