<div class="schedule-movie" data-id="@ViewBag.Movie.ID" data-duration="@ViewBag.Movie.Duration" style="height: @{@ViewBag.ItemHeight}px">
    <div class="schedule-movie-edit">i</div>
    <div>@ViewBag.Movie.Name</div>
</div>
