<div class="save-places-group-form">
    <div class="cinema-place-group-id">
        @Html.DropDownList("CinemaPlaceGroupID", "All")
    </div>
    <div>
        <button class="btn btn-default save-places-group">
            Задати групу місць
        </button>
    </div>
</div>