<div class="book-confirm-cinema grey">
    <span class="glyphicon glyphicon-map-marker"></span>
    <span class="book-confirm-cinema-info">
        <span class="text-uppercase">
            @ViewBag.cinemaName
        </span>
        <span class="book-confirm-cinema-address">
            м. Чернівці, вул. Героїв Майдану, 77
        </span>
    </span>
</div>
<div class="book-confirm-date grey">
    <span class="book-confirm-date-clock"></span>
    <div class="book-confirm-date-info">
        <div>
            @ViewBag.dayName, @ViewBag.formattedDay
        </div>
        <div>
            @ViewBag.formattedTime
        </div>
    </div>
</div>