<div class="book-confirm-places-info grey">
    <span class="book-confirm-places-tickets"></span>
    <div class="book-confirm-places">
        @foreach (var orderItem in ViewBag.orderItems as List<CinemaTickets.Models.OrderItemInfo>)
        {
            Html.RouteLink("Вилучити", "Default", new { Controller = "Book", Action = "RemovePlace", Id = orderItem.OrderItemId });
            <div class="order-item" data-id="@orderItem.OrderItemId">
                @orderItem.Row ряд, @orderItem.Cell місце, - @orderItem.Price грн.
            </div>
        }
    </div>
</div>