@model CinemaTickets.Models.City

@{
    ViewBag.Title = "Редагування міста";
}

<h2>Редагування міста</h2>

@Html.Partial("Form")

<div>
    @Html.ActionLink("До списку", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
