@{
    var movies = ViewBag.comingSoonMovies as List<CinemaTickets.Models.Movie>;
}

@if (movies.Count > 0)
{
    <div class="violet text-uppercase bold">... Скоро на екранах</div>
    <div class="movies-slider-prev slider-prev grey">
        <span class="glyphicon glyphicon-menu-left"></span>
    </div>
    <div class="movies">
        @foreach (var movie in movies)
        {
            <div class="movie-item">
                <div class="movie">
                    <div class="movie-image" style="background-image: url('/images/@movie.Image')"></div>
                    <div class="movie-trailer">
                        <div class="movie-trailer-button">
                            <span>
                                <span class="glyphicon glyphicon-play"></span>
                            </span>
                        </div>
                        <div class="movie-trailer-label">
                            Трейлер
                        </div>
                    </div>
                    <div class="movie-name">
                        @movie.Name
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="movies-slider-next slider-next grey">
        <span class="glyphicon glyphicon-menu-right"></span>
    </div>
}