@{
    ViewBag.Title = "Як оплатити?";
}
<h2>@ViewBag.Title</h2>
<!--<h3>@ViewBag.Message</h3>-->
<div class="how-to-pay">
    <p><h3>Щоб замовити квиток, Вам слід зробити кілька простих кроків</h3></p>
    <div>
        <p><h4>Крок 1. Оберіть дату та фільм.</h4></p>
        <div class="img how-to-step1"></div>
    </div>
    <div>
        <p><h4>Крок 2. Оберіть кінотеатр, дату та час початку сеансу.</h4></p>
        <div class="img how-to-step2"></div>
    </div>
    <div>
        <p><h4>Крок 3. Оберіть бажане місце (місця).</h4></p>
        <div class="img how-to-step3"></div>
    </div>
    <div>
        <p><h4>Крок 4. Натисніть кнопку "Забронювати".</h4></p>
        <div class="img how-to-step4"></div>
    </div>
    <div>
        <p><h4>Крок 5. Введіть ім'я, прізвище, пошту, телефон та натисніть "Оплатити".</h4></p>
        <div class="img how-to-step5"></div>
    </div>
    <div>
        <p><h4>Крок 6. Оплатіть квиток (квитки) за допомогою сервісу оплати приватбанк.</h4></p>
        <div class="img how-to-step6"></div>
    </div>
    <div>
        <h4>
            Після підтвердження оплати Вам прийде лист на пошту із QR-кодом квитка (квитків).
            Будь-ласка, покажіть QR-код квитка (квитків) на касі кінотеатру.
        </h4>
    </div>
</div>
