@model CinemaTickets.Models.User

@{
    ViewBag.Title = ViewBag.Message;
    var hour = "";
    var minute = "";
    var dateClass = "";
}

@Html.Partial("Filter")

@Html.Partial("Calendar")

<div class="movies-container">
    @Html.Raw(ViewBag.moviesHtml)
</div>

<div class="how-to"></div>

<div class="coming-soon-movies-container">
    @Html.Partial("ComingSoon")
</div>